<%= form_for(@story) do |f| %>

  <% if @story.errors.any? %>
      <h3 class="field_with_errors">Wystąpiły błędy w formularzu !</h3>
  <% end %>

  <div class="clearfix field">
    <%= f.label :title, "Tytuł" %>
    <%= f.text_field :title, :class=>"span8" %>
		<%= conditional_error_message_for(@story, :title) %>
  </div>
  <div class="clearfix field">
    <%= f.label :teaser, "Wstęp" %>
    <%= f.text_area :teaser, :class=>"span8" %>
		<%= conditional_error_message_for(@story, :teaser) %>
  </div>
  <div class="clearfix field">
    <%= f.label :content, "Treść" %>
    <%= f.text_area :content, :class=>"span8" %>
		<%= conditional_error_message_for(@story, :content) %>
  </div>
  <div class="clearfix actions">
    <%= f.submit "Zapisz", :class=>"btn" %>
  </div>
<% end %>
