<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<%= csrf_meta_tag %>
  <%= stylesheet_link_tag    "application" %>
	<%= stylesheet_link_tag 	 "custom" %>
  <%= stylesheet_link_tag    "jqueryui" %>
  <%= javascript_include_tag "jquery-min" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "1-bootstrap-twipsy" %>
  <%= javascript_include_tag "2-bootstrap-popover" %>
  <%= javascript_include_tag "3-bootstrap-dropdown" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA8K99m7uGfV7ElVlCdeehxaQc_dHEuJXY&sensor=false"></script>
</head>
<body onload="initialize()">

	<div class="topbar">
		<%= render "layouts/header" %>
	</div>

	<div class="container">
		<div class="content">
			<div class="page-header">
				<%= render_header("comiesięczne spotkania programistów") %>
        <div id="follow" style="float:right">
        <%= link_to image_tag("facebook.png", :title=>"follow us on facebook"), "http://www.facebook.com/pages/Programistok/237808102923666", :target=>:blank %>
        <%= link_to image_tag("twitter.png", :title=>"follow us on twitter"), "http://twitter.com/Programistok", :target=>:blank %>
        </div>
			</div>
			<div class="row">
				<div class="span10">
					<% if !notice.nil? %>
						<p class="notice alert-message success"><%= notice %></p>
					<% end %>
					<% if !alert.nil? %>
	        <p class="alert alert-message error"><%= alert %></p>
					<% end %>
					<%= yield %>
				</div>
				<div class="span4">
					<%= render "layouts/sidebar" %>
				</div>
			</div>
		</div>
		<footer>
			<%= debug(params) if Rails.env.development? %>
			<%= render "layouts/footer" %>
		</footer>
	</div>

</body>
</html>
